@{
    ViewData["Title"] = "About";
}
<div class=" text-center p-5" style="background-color:aquamarine;border-radius:20px;">
    <h1>About The Krusty Krab!</h1>
</div>

<div class="row">
    <div class="col-4">
        <img src="~/images/krustykrab.png" alt="Krusty Krab" id="store"/>
    </div>
    <div class="col-8">
        <p style="font-size:20px; background:aquamarine; border-radius:20px">The Krusty Krab is a fictional fast food restaurant in the American animated television series SpongeBob SquarePants. 
            In the television show the restaurant is famous for its signature burger, the Krabby Patty, the formula to which is a closely 
            guarded trade secret.</p>
    </div>
</div>
