@{
    ViewData["Title"] = "Contact";
}
<div class="row">
    <div class="col-sm-8">
        <h2 style="background-color:aquamarine;border-radius:10px;">The Krusty Krab</h2>
        <address style="background-color:aquamarine;border-radius:10px; font-size:25px;">
            1300 Conch Street<br />
            Bikini Bottom, MI 41010<br />
            <abbr title="Phone"><i class="fa fa-phone" style="background-color:aquamarine;border-radius:10px; font-size:25px;"></i></abbr>
            231.321.1234
        </address>
    </div>
</div>
