@{
    ViewData["Title"] = "Home Page";
}
<div class=" text-center p-5" style="background-color:aquamarine;border-radius:20px;">
    <h1>Welcome To The KrustyKrab!</h1>
</div>

<div class="row">
    <h2 class="col-12 text-center"> Meet The Krusty Crew!</h2>
</div>
<div class="row">
    <div class="col-md-4 text-center mt-5">
        <h2>Spongebob</h2>
    </div>

    <div class="col-md-4 text-center mt-5">
        <h2>Mr.Krabs</h2>
    </div>

    <div class="col-md-4 text-center mt-5">
        <h2>Squidward</h2>
    </div>
    <div class="row">
        <img src="~/images/spongebob.png" class="col-md-4" />
        <img src="~/images/mr.krabs.png" class="col-md-4" />
        <img src="~/images/squidward.png" class="col-md-4" />
    </div>
</div>
