html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: coral;
}
img{
    width:300px;
    height:300px;
}
#store{
    width:400px;
    height:400px;
}